.jobportallogo{
    width: 12%;
}
.navlist{
    text-decoration: none;
    color: black;
}
.navlist:hover{
    color: blue;
}
.navli {
    position: relative; 
}
.navli::after {
    content: ''; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
    height: 2px;
}
.navli:hover::after {
    background-color: blue; 
}
